.whatsapp-btn {
  position: fixed;
  bottom: 20px; 
  left: 20px;  
  z-index: 1000;
  cursor: pointer;
}

.whatsapp-btn img {
  width: 85px;  
  height: 85px;  
  border-radius: 50%;
  transition: 0.3s;
  animation: glow 1.5s infinite ease-in-out;
}

/* تأثير النور */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px #25d366,
                0 0 10px #25d366,
                0 0 15px #25d366;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 20px #25d366,
                0 0 35px #25d366,
                0 0 50px #25d366;
    transform: scale(1.15);
  }
  100% {
    box-shadow: 0 0 5px #25d366,
                0 0 10px #25d366,
                0 0 15px #25d366;
    transform: scale(1);
  }
}

.whatsapp-btn img:hover {
  transform: scale(1.25);
}
