<app-nav-bar></app-nav-bar>
<div class="free-content-container">

  <!-- Header -->
  <div class="content-header">
    <h1 class="main-title">Free Content</h1>
    <p class="subtitle">Explore Available Educational Materials</p>
  </div>

  <!-- Loader -->
  <div *ngIf="loading" class="loader-container">
    <div class="spinner"></div>
    <p class="loading-text">Loading content...</p>
  </div>

  <!-- Main Content -->
  <div *ngIf="!loading">

    <!-- عرض الدروس فقط إذا لم يتم اختيار درس -->
    <div *ngIf="!selectedLesson" class="cards-grid">

      <!-- لا يوجد محتوى -->
      <div *ngIf="freeContents.length === 0" class="no-content">
        <p>No content available for this grade.</p>
      </div>

      <!-- قائمة الدروس -->
      <div class="card-wrapper" *ngFor="let item of freeContents" 
           (click)="selectLesson(item)">
        <div class="content-card">
          <div class="card-header-section">
            <div class="grade-badge">
              <span>lesson : {{ item.lessonName }}</span>
            </div>
          </div>
          <div class="card-details">
            <span>term : {{ item.term=="0" ? "first term" : "second term" }}</span>
            <span>unit : {{ item.unitName }}</span>
          </div>
        </div>
      </div>

    </div>

   <!-- عرض الفيديوهات بعد اختيار درس -->
<div *ngIf="selectedLesson" class="videos-grid" (contextmenu)="$event.preventDefault()">
  <button (click)="backToLessons()" class="btn-primary btn">← Back to Lessons</button>

  <div class="videos-row">
    <div class="video-card media-card" *ngFor="let media of selectedLesson.mediaOfFreeLesson">

      <h3>{{ media.fileName }}</h3>

      <!-- فيديو -->
      <video *ngIf="media.mediaType=='Video'" class="media-content" controls
             controlsList="nodownload  noremoteplayback"
             (contextmenu)="$event.preventDefault()"
             (dragstart)="$event.preventDefault()">
        <source [src]="media.previewUrl" type="video/mp4">
        Your browser does not support HTML video.
      </video>

      <!-- PDF -->
      <iframe *ngIf="media.mediaType=='Pdf'" class="media-content" [src]="media.previewUrl"
              (contextmenu)="$event.preventDefault()"
              (dragstart)="$event.preventDefault()"></iframe>

      <!-- صورة -->
      <img *ngIf="media.mediaType=='Image'" class="media-content" [src]="media.previewUrl"
           (contextmenu)="$event.preventDefault()"
           (dragstart)="$event.preventDefault()" />
          
    </div>
  </div>
</div>

  </div>
</div>
