.card-header {
  transition: background-color 0.3s ease;
}

.card-header:hover {
  background-color: #0d6efd99;
}

.list-group-item:hover {
  background-color: #0d6efd22;
  font-weight: 500;
}

i.bi {
  font-size: 1.2rem;
}
.card-header{
  background-color: var( --hover-teal);
}