<app-nav-bar></app-nav-bar>
<div class="container mt-4">
  <button class="back-btn" (click)="goBack()">← Back</button>
  <h2 class="mb-4">Student Courses: {{ studentData.userName }}</h2>
 <h2 class="mb-4">Student grade {{ studentData.grade }}</h2>

  <!-- Terms List -->
  <div *ngFor="let term of terms" class="card mb-3 shadow-sm">
    <div class="card-header  text-white d-flex justify-content-between align-items-center" 
         style="cursor: pointer;" 
         (click)="toggleTerm(term.id)">
      <span>
         {{ term.termOrder === 0 ? 'First Term' : 'Second Term' }}
      </span>
      <i class="bi" [ngClass]="{'bi-caret-down-fill': expandedTerms.has(term.id), 'bi-caret-right-fill': !expandedTerms.has(term.id)}"></i>
    </div>

    <!-- Units -->
    <div *ngIf="expandedTerms.has(term.id)" class="card-body bg-light">
      <div *ngFor="let unit of getUnitsForTerm(term.id)" class="mb-2">
        <div class="d-flex justify-content-between align-items-center p-2 border rounded" 
             style="cursor: pointer; background-color: #e9ecef;" 
             (click)="toggleUnit(unit.id)">
          <span>{{ unit.title }}</span>
          <i class="bi" [ngClass]="{'bi-caret-down-fill': expandedUnits.has(unit.id), 'bi-caret-right-fill': !expandedUnits.has(unit.id)}"></i>
        </div>

        <!-- Lessons -->
        <ul *ngIf="expandedUnits.has(unit.id)" class="list-group list-group-flush mt-1">
          <li *ngFor="let lesson of getLessonsForUnit(unit.id)" class="list-group-item list-group-item-action"
              style="cursor: pointer;" 
              (click)="goToLesson(lesson)">
            {{ lesson.title }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
