/* منع السحب والتحميل */
video, img, audio {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: auto;
}

/* منع زر التحميل من Controls */
video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

/* شكل الكروت */
.media-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.media-card:hover {
  transform: scale(1.02);
}

/* شكل الصور والفيديو */
.media-content {
  height: 200px;
  object-fit: cover;
}
