.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
 background-image: linear-gradient(rgb(32, 172, 172), rgb(83, 223, 223));


}
.error-message{
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
.signup-form {
  background: #fff;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 420px;
}

.signup-form h2 {
  font-weight: 600;
  color: var(--primary-teal);
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  font-size: 15px;
}

.form-group input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 4px rgba(13, 110, 253, 0.3);
}

.password-wrapper {
  position: relative;
}

.password-wrapper i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.password-wrapper i:hover {
  color: #0d6efd;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-teal);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: var(--primary-orange);
}
