/* You can add global styles to this file, and also import other style files */
:root {

  --primary-teal: #17a2b8;
  --primary-orange: #ff6b35;
  --hover-teal: #138496;
  --hover-orange: #ff8c5f;


          
            --bg-cream: #f0f8fa;
            --card-bg: #fff;
            --text-dark: #333;
            --text-light: #666;
            --border-color: #e0e0e0;
        
  /* Button Color */
  --bs-info: linear-gradient(90deg, #00B6B0, #F37B2A);
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

     * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
